<section>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h1 class="display-5">This app will demonstrate the usage and implementation of <strong>Angular
                    Resolvers</strong></h1>
            </div>
        </div>
        <div class="row align-items-center text-center">
            <div class="col">
                <div class="pill-left-side" routerLink="/planetary">
                    <p class="m-0">Fetch data without resolver</p>
                </div>
            </div>
            <div class="col">
                <figure>
                    <img alt="Angular resolver" class="rounded img-fluid" src="/assets/images/ang-resolve.png">
                </figure>
            </div>
            <div class="col">
                <div class="pill-right-side">
                    <p class="m-0">Fetch data with resolver</p>
                </div>
            </div>
        </div>
    </div>
</section>